.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  background-color: transparent;
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.homebg-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  margin: 0;
  width: 100%;
  z-index: -1;
}

.homebg {
  object-fit: fill;
  width: 100%;
  opacity: 0.4
}

.nav-link {
  margin: 30px;
  font-size: 1.2rem;
  color:#fff;
}

.logo {
  position: absolute;
  height: 170px;
  margin: 0;
  padding: 0;
  transform: translateX(-4rem) translateY(-3rem);
  z-index: 5;
}

.playlistcard {
  width: 1000px;
  /* background-image: linear-gradient(to top left, rgb(0, 79, 116), rgb(10, 10, 10) 60%, rgb(27, 27, 27)); */
  opacity: 0.98;
  border-radius: 10px;
  color: white;
  padding: 30px;
  min-height: 700px;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
  position: relative;
}

.music {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 175px;
  width: 100%;
  min-height: 100vh;
}

.playlistname {
  font-family: BrooklynSamuelsFive-Bold, sans-serif;
  color: white;
  font-weight: 600;
  font-size: 2.7rem;
}

.trackscontainer {
  width: 59%;
}
.track {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0;
  width: 100%;
}

.trackinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.trackName {
  padding: 0 10px 0 0;
  font-family: BrooklynSamuelsFive-Bold;
  font-size: 1.2rem;
}


.progressbarcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  height: 3px;
  margin: 0 10px;
  background-color: rgba(255, 255, 255, 0.05);
  cursor: grab;
}

.progressbar {
  background-color: rgba(255, 255, 255, 0.3);
  height: 100%;
  position: relative;
}

.grabbing {
  cursor: grabbing !important;
}

.playbutton, .downloadbutton {
  cursor: pointer;
  font-size: 1.5rem;
}

.progressindicator {
  position: absolute;
  top: -5px;
  bottom: -5px;
  width: 10px;
  left: -5px;
  background-color: transparent;
}

.progressindicator::after {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 5px;
  width: 2px;
  background-color: white;
}

.title {
  font-family: BrooklynSamuelsFive-Bold;
  color: #fceb8b;
  font-size: 100px;
  text-shadow: 0 2px 2px #fceb8b, 
  -2px 5px 0 #fcc547, 
  -4px 10px 0 #f0a131,
  -8px 15px 0 #f0a133,
  -12px 20px 0 #e96016,
  -16px 25px 0 #da350b;
  user-select: none;
}

.bigcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.albumart {
  width: 300px;
  height: 300px;
  transform: translateY(-50px);
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
}

/* CSS */
.albumdlbutton {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: BrooklynSamuelsFive-Bold;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: absolute;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  bottom: 30px;
  right: 30px;
}

.albumdlbutton:hover {
  background-color: #e4e4e4;
  text-decoration: none;
  transition-duration: 0.1s;
}

.albumdlbutton:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.albumdlbutton:active {
  background-color: #c5c5c5;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.albumdlbutton:focus {
  outline: 1px transparent;
}

.albumdlbutton:before {
  display: none;
}

.albumdlbutton:-webkit-details-marker {
  display: none;
}