.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.homebg-container {
  display: flex;
  margin: 0;
  width: 100%;
}

.homebg {
  object-fit: fill;
  width: 100%;
}

.nav-link {
  margin: 30px;
  font-size: 1.2rem;
  color:#fff;
}

.logo {
  height: 168px;
  margin: 0;
  padding: 0;
  transform: translateX(-4rem);
}

.playlistcard {
  width: 1000px;
  background-color: rgb(15, 15, 15);
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
  border-radius: 10px;
  color: white;
  padding: 30px;
}

.music {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 175px;
  width: 100%;
}

.playlistname {
  font-family: BrooklynSamuelsFive-Bold, sans-serif;
  color: white;
  font-weight: 600;
  font-size: 2.7rem;
}

.track {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0;
  width: 59%;
}

.trackinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.trackName {
  padding: 0 10px 0 0;
  font-family: BrooklynSamuelsFive;
  font-size: 1.2rem;
}


.progressbarcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3px;
  margin: 0 10px;
  background-color: rgba(255, 255, 255, 0.2);
}

.progressbar {
  background-color: white;
  height: 100%;
}

.playbutton, .downloadbutton {
  cursor: pointer;
  font-size: 1.5rem;
}