.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  background-color: transparent;
  z-index: 1000;
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .home-page {
    min-height: 900px;
  }
}

.homebg-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  margin: 0;
  width: 100%;
  z-index: -1;
}

.homebg {
  object-fit: fill;
  width: 100%;
  min-height: 100vh;
  opacity: 0.4;
  background-image: url('./assets/tvbonfire.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;


}



.nav-link {
  margin: 30px;
  font-size: 1.2rem;
  color: #fff;
}

.logo {
  position: absolute;
  height: 170px;
  margin: 0;
  padding: 0;
  transform: translateX(-4rem) translateY(-3rem);
  z-index: 5;
}

.playlistcard {
  /* background-image: linear-gradient(to top left, rgb(0, 79, 116), rgb(10, 10, 10) 60%, rgb(27, 27, 27)); */
  opacity: 0.98;
  border-radius: 10px;
  color: white;
  padding: 30px;
  padding-top: 230px;
  padding-bottom: 70px;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
  position: relative;
  margin-bottom: 100px;
  width: 90vw;
}

@media (min-width: 1050px) {
  .playlistcard {
    width: 1000px;
    /* min-height: 700px; */
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 400px;
  }
}

.music {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 175px;
  width: 100%;
  min-height: 100%;
  overflow: scroll;
}

.playlistname {
  font-family: BrooklynSamuelsFive-Bold, sans-serif;
  color: white;
  font-weight: 600;
  font-size: 2.7rem;
}

.trackscontainer {
  width: 100%;
}

@media (min-width: 1050px) {
  .trackscontainer {
    width: 67%;
  }
}

.track {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0;
  width: 100%;
}

.trackinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  font-size: 0.7rem;
}



.trackName {
  padding: 0 10px 0 0;
  font-family: BrooklynSamuelsFive-Bold;
  font-size: 0.8rem;
  min-width: 4rem;
}

@media (min-width: 1050px) {
  .trackName {
    font-size: 1.2rem;
  }
}


.progressbarcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  height: 3px;
  margin: 0 20px;
  background-color: rgba(255, 255, 255, 0.05);
  cursor: grab;
}

.progressbarcontainer::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 20px; /* Adjust the height to your desired touchable area size */
  background-color: transparent;
}

.progressbar {
  background-color: rgba(255, 255, 255, 0.3);
  height: 100%;
  position: relative;
}

.grabbing {
  cursor: grabbing !important;
}

.playbutton,
.downloadbutton {
  cursor: pointer;
  font-size: 1.5rem;
}

.playbutton {
  margin-right: 10px;
}

.downloadbutton {
  margin-left: 10px;
}

.progressindicator {
  position: absolute;
  top: -5px;
  bottom: -5px;
  width: 10px;
  left: -5px;
  background-color: transparent;
}

.progressindicator::after {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 5px;
  width: 2px;
  background-color: white;
}

.titlecontainer {
  overflow: hidden;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.title {
  font-family: BrooklynSamuelsFive-Bold;
  color: #fceb8b;
  font-size: clamp(1rem, 20vw, 10rem);
  text-shadow: 0 2px 2px #fceb8b,
    -2px 5px 0 #fcc547,
    -4px 10px 0 #f0a131,
    -8px 15px 0 #f0a133,
    -12px 20px 0 #e96016,
    -16px 25px 0 #da350b;
  -webkit-user-select: none;
  user-select: none;
}

.bigcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.albumart {
  position: absolute;
  width: 200px;
  height: 200px;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
  top: 21px;
  left: calc(50% - 100px);
}

@media (min-width: 1050px) {
  .albumart {
    position: absolute;
    width: 250px;
    height: 250px;
    top: 0px;
    right: 0px;
    left: inherit;
    margin: 30px;
  }
}

/* CSS */
.albumdlbutton {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: BrooklynSamuelsFive-Bold;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: absolute;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  bottom: 30px;
  right: 30px;
}

.albumdlbutton:hover {
  background-color: #e4e4e4;
  text-decoration: none;
  transition-duration: 0.1s;
}

.albumdlbutton:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.albumdlbutton:active {
  background-color: #c5c5c5;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.albumdlbutton:focus {
  outline: 1px transparent;
}

.albumdlbutton:before {
  display: none;
}

.albumdlbutton:-webkit-details-marker {
  display: none;
}

.time {
  font-size: 0.8rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Hamburger menu base styles */
.hamburger-menu {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 25px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  z-index: 1001; /* Ensure it's above the overlay */
}

.hamburger-menu span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #ffffff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.hamburger-menu span:nth-child(1) {
  top: 0px;
}

.hamburger-menu span:nth-child(2), .hamburger-menu span:nth-child(3) {
  top: 11px;
}

.hamburger-menu span:nth-child(4) {
  top: 22px;
}

.hamburger-menu.is-active span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.hamburger-menu.is-active span:nth-child(2) {
  transform: rotate(45deg);
}

.hamburger-menu.is-active span:nth-child(3) {
  transform: rotate(-45deg);
}

.hamburger-menu.is-active span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

/* Adjustments for when the menu is active */
.rightnavbar.active {
  transform: translateX(0);
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000; /* Behind the menu items */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .rightnavbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: transparent; /* Adjust the background to match your theme */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
  }
}

@media (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }
}
